# Thanks to github.com/niclashoyer/ for this file
#################
## Net Beans
#################

#ant specific
#dist/ Distribution Included
build/
 
#netbeans specific
core
nbproject/*
!nbproject/project.properties
!nbproject/project.xml
 
#java specific
*.class
 
#general swap/backup files
*.so
*.log
*.out
*~
*.swp
*.DS_Store
*.lock

#silly txt file
!dist/README.TXT